body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  background-color: rgb(240, 208, 199);
  padding: 20px;
  height: 140px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h1, h2 {
  font-family: Amatic;
}
h3 {
  margin: 0;
}
a {
  color: #222;
}
.center {
  margin: auto;
}
.center-text { 
  text-align: center;
}
.block {
  display: block;
}
.center>img {
  display: block;
}
.social-icon {
  height: auto;
  width: 44px;
}

/* Style the navigation menu */
.topnav {
  /* background-color: #333; */
  /* background-color: #a3b1d8; */
  background-color: #fff;
  position: relative;
  z-index: 2;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  border: 1px solid black;
}

/* Style navigation menu links */
.topnav button {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav button:focus {
  outline: none;
}
.topnav a {
  color: black;
  /* color: #232121; */
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-bottom: 2px solid black;
}
.topnav a:last-child {
  border-bottom: none;
}
.topnav .active {
  background-color: #000;
}
.topnav a.active {
  color: #fff;
}

/* Style the hamburger menu */
.topnav .icon {
  background: black;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border: none;
}

.card {
  padding: 12px 24px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.halikai {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(../halikai.jpg);background-size: cover;
  height:400px;
  position: relative;
  padding:0;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.left-column-card {
  margin: 12px 6px 12px 12px;
}
.right-column-card {
  margin: 12px 12px 12px 6px;
}
.affiliate-image {
  width: 80px;
  height: auto;
  margin: auto;
}
.legal {
  text-align: center;
  font-size: 10px;
}
.social-footer {
  text-align: center;
  font-size: 10px;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: rgb(240, 208, 199);
  width: 100%;
  padding-top: 20px;
}
.content {
  max-width: 800px;
  margin: auto;
  margin-bottom: 120px;
}
.right-margin30 {
  margin-right:30px;
}
@media only screen and (max-width: 600px) {
  .halikai {
    background-position-y: -90%;
  }
}
