body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  background-color: rgb(240, 208, 199);
  padding: 20px;
  height: 80px;
}

@font-face {
  font-family: Amatic;
  src: url(../fonts/AmaticSC-Bold.ttf);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h1, h2 {
  font-family: Amatic;
}
a {
  color: #222;
}
.social-icon {
  height: auto;
  width: 44px;
}